<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kwadraty</title>
</head>
<body>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh">
    <div style="display: flex; flex-flow: row wrap; justify-content: center; gap: 15px; width: 360px">
        {% for i in range(9) %}
            <div style="width: 100px; height: 100px; display: flex; justify-content: center; align-items:center;
             cursor: pointer; background-color: black">
                <div style="color: white">{{ i }}</div>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>